:root{
    --secondaryText:#fff;

    --themeDotBorder: #24292e;
}



body{
    background-color: black;
    overflow: hidden;
}

.main{
    background: url('images/22.jpg') no-repeat center center/cover;
    height: 100vh;
}

.progress{
    background-color: darkred;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}